/*TODO: Add vendor prefixes?*/
/*TODO: Add stuff to ask for comments*/
/*TODO: Add copyright stuff*/

/*MOBILE VERSION*/
/**{border: 1px solid red;}*/
*{font-family: "Calibri Light", "Calibri", sans-serif}

/*Buttons*/
.custbtn{
    font-size: 2.5em; /*for tiny iPhone 5c*/
}

.custbtn-container--next{
    position: fixed;
    bottom: 15vh;
    width: 100vw;
    /*border: 1px solid red;*/
}

.custbtn--next{
    margin: 0 auto;
    width: 100vw;
    text-align: center;
    text-align: -webkit-center;
    /*border: 1px solid blue;*/
}

.custbtn-container--prev{
    z-index: 99999 !important;
    position: fixed;
    top: 3vh;
    width: 100vw;
    /*border: 1px solid red;*/
}

.custbtn--prev{
    margin: 0 auto;
    width: 100vw;
    text-align: center;
    text-align: -webkit-center;
    /*border: 1px solid blue;*/
}

.custbtn:active{
    color: #0f0f0f;
}

.custbtn--off{
    color:lightgrey;
}

/*Main Area*/
.container{
    width: 100vw;
    /*height: 78vh;*/
    height:100vh;
    border-color: green;
}

/*Space For Cards*/
.card-container{
    bottom: 5vh;
    border-color: green;
}

.card{
    height: 77vh;
    list-style: none;
    display: flex;
    display: -webkit-flex;
    flex-flow: column;
    -webkit-flex-flow: column;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
}

/*Main Area in Card*/
.card__content{
    display: flex;
    display: -webkit-flex;
    flex-flow: column;
    -webkit-flex-flow: column;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
}

.content__text-area{
    font-size: 2em;
    text-align: center;
    text-align: -webkit-center;
    padding: 10px;
}

/*Question*/
.text-area--question{
    /*border: 1px solid green;*/
    position: relative;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
}

.content__star-caption{
    height: 2em;
    font-size: 2em;
    color: #c5c5c5;
}

.question__container{
/*border:1px solid red;*/
height: 77%;
width: 85%;
padding: 2vh;
position: absolute;
top: 2vh;
display: flex;
display: -webkit-flex;
align-items: center;
-webkit-align-items: center;
}
/*yaaay*/

.question__text{
/*border: 1px solid blue;*/
/*position: absolute;*/
width: 100%;
color: white;
font-size: 1.5em;
text-align: center;
text-align: -webkit-center;
/*top: 5vh;*/
}

/*Comment Card*/
.comment--container{
    bottom: 5vh;
}

.form-group{
    margin: 3vh;
}

/*Assets*/
img{
    width: 100%;
}


.fa-hand-pointer-o{
    margin-top: 5vh;
}

.fa-repeat{
    margin-top: 10vh;
}

.fa-refresh{
    margin-top: 10vh;
}

.thank{
    max-width: 700px;
    padding: 10px;
}

.oops{
    max-width: 350px;
    padding: 10px;
}

/*Footer*/
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 14vh;
}

.footer__progress-bar{
    position: absolute;
    height: 2vh;
    width: 100%;
}

.progress-bar__bar{
    position: absolute;
    height: inherit;
    width: 0vw;
    left: 0;
    background-color: #464646;
    /*background-color: #ed1c24;*/
    /*^^This looks like a smurf!!*/
    -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
    transition: width 2s;
}

.footer__copyright{
    position: absolute;
    background-color: #127094;
    color: white;
    text-align: center;
    text-align: -webkit-center;
    padding: 3vh 1vh;
    width: 100%;
    /*height: 13vh;*/
    bottom: 0;
    /*left: 0;*/
    display: flex;
    justify-content: center;
}

.copyright__container{
    flex: 1;
}

/*MOBILE bigger than iphone5*/
/*TODO: if there are any problems*/

/*DESKTOP VERSION*/
@media only screen and (min-device-width: 481px){
    /**{border: 1px solid blue;}*/

    /*Buttons*/
    .custbtn{
        font-size: 3em;
    }

    .question__text{
        font-size: 2em;
    }

    .comment--container{
        width: 100%;
        display: flex;
        align-content: baseline;
        justify-content: center;
        position: absolute;
        top: 15vh;
    }

    .form-group{
        min-width: 45%;
    }

    .form-group__main-label{
        font-size: 1.5em;
        font-weight: bold;
        padding-bottom: 1.5vh;
    }

    #comment{
        height: 60%; //beautiful
    }

    footer{
        height: 14vh;
    }

    /*.footer__copyright{*/
        /*padding: 3vh;*/
    /*}*/

}











