/*Mobile version*/
@media only screen and (max-device-width: /*480*/3000px){
    *{border: 1px solid red;}
    *{font-family: "Calibri Light", "Calibri", sans-serif}

    /*.main{*/
        /*border-style: solid;*/
        /*position: relative;*/
        /*width: 100vw;*/
        /*height: 75vh;*/
        /*display: flex;*/
    /*}*/

    /*!*main card area where buttons are*!*/
    /*.main-card{*/
        /*height: 75vh;*/
        /*width: 100%;*/
        /*position: absolute;*/
        /*align-items: stretch;*/
    /*}*/

    /*!*scrollable section*!*/
    /*.card-container{*/
        /*width: 100%;*/
        /*position: absolute;*/
        /*height: 65vh;*/
        /*overflow-y: auto;*/
    /*}*/

    /*.up-button{*/
        /*border-style: solid;*/
        /*width: 100%;*/
        /*visibility: hidden;*/
    /*}*/

    /*.down-button{*/
        /*width: 100%;*/
        /*position: absolute;*/
        /*bottom: 0;*/

    /*}*/

    /*ul{*/
        /*list-style-type: none;*/
        /*padding: 0;*/
        /*margin: 0;*/
    /*}*/

    /*li{*/
        /*!*position: relative;*!*/
        /*width: 100%;*/
        /*height: 65vh;*/
        /*list-style-type: none;*/
        /*padding: 0;*/
        /*margin: 0;*/
    /*}*/

    /*li.active{*/
        /*background-color: #336699;*/
    /*}*/

    /*!*contains question text and rating stars*!*/
    /*.question{*/
    /*}*/

    /*p .question-text{*/
        /*border-style: solid;*/
    /*}*/

    /*.question-stars{*/
        /*border-style: solid;*/
    /*}*/

    /*.comment-area{*/
        /*overflow-y: auto;*/
        /*resize: none;*/
    /*}*/

    /*!*area for progress bar*!*/
    /*.main-progBar{*/
        /*border-style: solid;*/
        /*position: absolute;*/
        /*bottom: 0;*/
        /*width: 100vw;*/
    /*}*/

    /*footer{*/
        /*position: fixed;*/
        /*bottom: 0;*/
        /*left: 0;*/
        /*right: 0;*/
        /*height: 25vh;*/
    /*}*/

    /*.footer-progBar{*/
        /*position: absolute;*/
        /*height: 5vh;*/
    /*}*/
    /*.progBar-child{*/
        /*position: absolute;*/
        /*height: inherit;*/
        /*width: 0vw;*/
        /*left: 0;*/
        /*background-color: #080808;*/
        /*-webkit-transition: width 2s; !* For Safari 3.1 to 6.0 *!*/
        /*transition: width 2s;*/

    /*}*/

    /*.footer-copyright{*/
        /*position: absolute;*/
        /*background-color: #127094;*/
        /*bottom: 0;*/
        /*left: 0;*/
        /*right: 0;*/
        /*height: 20vh;*/
    /*}*/

    /*TODO: find a better way to position elements*/
    /*TODO: move card__content up in container*/
    .custbtn-container{
        display: flex;
        /*align-items: center;*/
        justify-content: center;
    }

    .custbtn{
        position: fixed;
        font-size: 3em !important;
    }
    /*TODO: Find a solution that doesn't use !important'*/

    .custbtn:active{
        color: #0f0f0f;
    }

    custbtn:disabled{
        color: #c5c5c5;
    }
    /*TODO: improve colors for UX*/

    .custbtn--prev{
        top: 3vh;
        z-index: 99999 !important;
    }
    /*FIXME: THIS IS SO BAD*/

    .custbtn--next{
        top: 75vh;
    }

    /*TODO: changed the heights of stuff to make the prog bar slimmer, check if that fucked anything up*/
    .container{
        width: 100%;
        height: 78vh;
        /*display: flex;*/
        flex-flow: column;
    }

    /*space for cards, buttons go on top of cards and stay put regardless of scroll*/
    .card-container{
        /*display: inherit;*/
        flex: 1;
    }

    /*scrollable section*/
    ul.card-list{
        flex: inherit;
        padding: 0;
        margin: 0;
        border-color: blue;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .card{
        height: 77vh;
        list-style: none;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
    }

    .card__content{
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
    }

    .comment--container{
        width: 100%;
        display: flex;
        align-content: baseline;
        justify-content: center;
        position: absolute;
        top: 15vh;
    }

    .form-group{
        min-width: 45%;
    }

    #comment{
        height: 80%; //beautiful
    }

    .content__text-area{
        /*flex: 1;*/
        font-size: 2em;
        text-align: center;
    }
    /*FIXME: This does not looked centered for some reason*/

    .question__text{
        /*margin-left: 5%;*/
        /*margin-right: 5%; !*FIXME: not sure if percent means percent of parent or what*!*/
        /*height: 10vh;*/
        padding-left: 7%;
        padding-right: 7%;
        padding-bottom: 5%;
        border-color: blue;
    }
    /*TODO: center inside content__text-area*/

    .content__star-caption{
        height: 2em;
        font-size: 2em;
        color: #c5c5c5;
    }

    .text-area--question{
        position: relative;
    }

    .question__text{
        position: absolute;
        width: 100%;
        color: white;
        top: 5vh;
    }

    .fa-hand-pointer-o{
        margin-top: 5vh;
    }

    .form-group{
        margin: 3vh;
    }

    img{
        width: 100%;
    }

    img.thank{
        padding: 5vw;
    }

    .fa-repeat{
        margin-top: 10vh;
    }


    footer{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 15vh;
    }
    /*TODO: change fixed footer to a sticky one that hides when the soft keyboard comes out*/

    .footer__progress-bar{
        position: absolute;
        height: 2vh;
        width: 100%;
    }

    .progress-bar__bar{
        position: absolute;
        height: inherit;
        width: 0vw;
        left: 0;
        background-color: #464646;
        /*background-color: #ed1c24;*/
        /*^^This looks like a smurf!!*/
        -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
        transition: width 2s;
    }

    .footer__copyright{
        position: absolute;
        background-color: #127094;
        color: white;
        text-align: center;
        padding: 1vh;
        width: 100%;
        height: 13vh;
        bottom: 0;
        left: 0;
    }

}

/*Desktop version*/
/*TODO: experiment with a horizontal fullpage*/
/*FIXME: does not work AT ALL and I have no idea why*/
/*
@media only screen and (max-device-width: 1024px){
    *{border: 1px solid red;}
    *{font-family: "Calibri Light", "Calibri", sans-serif}

    .custbtn-container

    .custbtn

    .custbtn--prev
    .custbtn--next

    .container

    .card-container{
        height: 78vh;
    }

    .card{
    }

    .card__content

    .content__text-area

    .content__star-caption

    .text-area--question

    .question__text

    .fa-hand-pointer-o

    .form-group

    footer{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 22vh;
    }

    .footer__progress-bar

    .progress-bar__bar

    .footer__copyright{
        position: absolute;
        background-color: #127094;
        color: white;
        text-align: center;
    }

}
*/











