@media only screen and (max-device-width: 480px){
    .main{
        border-style: solid;
        position: relative;
        width: 100vw;
        height: 80vh;
        overflow-y: auto;
    }

    /*main card area*/
    .main-card{
        border-style: solid;
        border-color: red;
        width: 100%;
        position: absolute;
    }

    .up-button{
        border-style: solid;
        width: 100%;
    }

    .down-button{
        border-style: solid;
        width: 100%;
        border-color: green;
    }

    ul .card-list{

    }

    li{

    }

    /*contains question text and rating stars*/
    .question{
        border-style: solid;
        border-color: blue;
    }

    p .question-text{
        border-style: solid;
    }

    .question-stars{
        border-style: solid;
    }

    /*area for progress bar*/
    .main-progBar{
        border-style: solid;
        position: absolute;
        bottom: 0;
        width: 100vw;
    }
    /*TODO: what is that hideous whitespace??*/
    /*TODO: progBar gets left behind after generating questions move it outside and on top of the footer*/

    footer{
        background-color: #127094;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        height: 20vh;
    }
}









