*{font-family: "Calibri", "Calibri", sans-serif}
:root{
    --dark_blue: #187aa1;
    --light_blue: #78b6e4;
    --yellow_orange: #fbb040;
    --orange: #f26922;
    --gray: #676768;
    --praxis_red: #ed1c24;
    --whiteSmoke: whitesmoke;
    --white: white;
    --black: black;
}

body{
    background-color: var(--whiteSmoke);
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}




.navbar-default{
    background-color: var(--light_blue);
    border-color: var(--light_blue);
    border-top-left-radius: 0px;
    border-top-right-radius:0px;
    border-bottom-right-radius:0px;
    border-bottom-left-radius:0px;

}

ul.dropdown-menu {
    background-color: var(--light_blue);
}


.navbar-default .navbar-nav > li:hover > a {
    background-color: var(--dark_blue);
    color: white; /*Change active text color here*/
}

.breadcrumb{
    margin: 0 !important;
    padding: 0 !important;
}

div.panel .panel-heading {
    background-color: var(--dark_blue);
    color: var(--whiteSmoke);

    border-color: var(--dark_blue);
}



div.panel-single {
    background-color: var(--light_blue);
}

.panel-footer{
    background-color: var(--dark_blue);
    border-color: var(--dark_blue);
}

li.list-group-item{
    background-color: var(--white);
    color: var(--black);

}

li.list-group-item table tr:hover td{
    background-color: var(--yellow_orange);
    color:var(--white);
}

li.list-group-item table tr td,li.list-group-item table tr th{
    border-color: var(--yellow_orange);
}

div.modal-content .modal-header{
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: var(--light_blue);
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
div.modal-content .modal-footer{
    padding:9px 15px;
    border-top:1px solid #eee;
    background-color: var(--light_blue);
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.btn-primary{
    background-color: var(--dark_blue);
}

.btn-default{
    background-color: var(--whiteSmoke);
}


.btn-danger{
    background-color: var(--praxis_red);
}